<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css" integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm" crossorigin="anonymous"> 	<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1">
    <title>Flask image post</title>
</head>
<body>
<style>
    .navbar{
		opacity: 0.85;
	}
	.navbar.activated{
		opacity: 1;
	}
	.nav-link{
		font-weight: bold;
	}
    .ddd_video{
            width: 640px;
            height: 360px;
    }

</style>

<!-- 상단 카테고리 -->
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">AWS-Flask</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/aws_info">AWS</a></li>
					<li class="nav-item"><a class="nav-link" href="/flask_info">Flask</a></li>
					<li class="nav-item"><a class="nav-link" href="/dl_info">Deep Learning</a></li>
					<li class="nav-item"><a class="nav-link" href="/nst_get">Neural Style Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="/tsc_get">Traffic Sign Classification</a></li>
					<li class="nav-item"><a class="nav-link" href="/tlad_get">Traffic Light Attack Detection</a></li>
					<li class="nav-item"><a class="nav-link" href="/ddd_get">Driver Drowsiness Detection</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>


<div class="side-page-main-div">
<br>
    <table align="center">
        <tr>
            <th><h2 align="center">Target Video</h2></th>
			<th><h2 align="center" style="color: #8C1DF3">Transfer Video</h2></th>
        </tr>
        <tr align="center">
            <td><video autoplay class="ddd_video" src="{{url_for('static', filename=user_video)}}"></video></td>
            <td><video autoplay class="ddd_video" src="{{url_for('static', filename=transfer_video)}}"></video></td>
<!--            <td colspan="2" align="center"><img class="nst_result_img" src="https://mys3dltest.s3.ap-northeast-1.amazonaws.com/aws-flask/static/images/nst_result_/nst_reference1.png" alt=""></td>-->
        </tr>
    </table>
</div>
<br>



</body>
</html>