<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css" integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm" crossorigin="anonymous"> 	<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1">
    <title>Flask image post</title>
</head>
<body>
<style>
    .navbar{
		opacity: 0.85;
	}
	.navbar.activated{
		opacity: 1;
	}
	.nav-link{
		font-weight: bold;
	}
	.side-page-main-div{
		padding-top: 100px;
		margin-left: 15%;
		margin-right: 15%
	}
	.side-page-main-div img{
		width: 100%;
	}


</style>

<!-- 상단 카테고리 -->
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">AWS-Flask</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/aws_info">AWS</a></li>
					<li class="nav-item"><a class="nav-link" href="/flask_info">Flask</a></li>
					<li class="nav-item"><a class="nav-link" href="/dl_info">Deep Learning</a></li>
					<li class="nav-item"><a class="nav-link" href="/nst_get">Neural Style Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="/tsc_get">Traffic Sign Classification</a></li>
					<li class="nav-item"><a class="nav-link" href="/tlad_get">Traffic Light Attack Detection</a></li>
					<li class="nav-item"><a class="nav-link" href="/ddd_get">Driver Drowsiness Detection</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!-- Deep Learning 설명 -->
<div class="side-page-main-div">

	<h2 style="color: #353535" id="マシンラーニング">マシンラーニング(機械学習)</h2>
	<p>머신러닝이란 인공지능에 속한 분야로, 데이터를 통해 기계가 스스로 학습하게 하는 방법을 의미한다.<br>
	<br><img style="max-width: 600px;" src="/static/images/index/main-gif.gif"/><br></p>
	<p>머신러닝은 사람이 지식을 학습하듯이 컴퓨터에도 데이터를 제공하여 학습하게 함으로써 새로운 지식을 얻어내는 방법을 의미한다. 인공지능을 학습시키고 더욱 똑똑하게 만드는 방법이다. 인공지능에게 데이터를 많이 학습시킬 수록 정확한 결과를 얻어낼 수 있다. 우리가 일반적으로 말하는 컴퓨터 프로그램은 사람이 직접 컴퓨터에 필요한 규칙을 입력하는 것이지만, 머신러닝은 컴퓨터가 직접 수많은 데이터를 분석해서 알맞은 규칙을 스스로 찾아내게 할 수 있다. 이러한 규칙을 이용해 머신러닝 기술은 사람들이 좋아하는 영상이나 상품을 추천해 주는 등 여러 분야에 사용되고 있다. 이렇게 컴퓨터가 스스로 알맞은 규칙을 찾을 수 있도록 도와주는 다양한 머신러닝 학습 방법들이 있다.<br><br></p>
	<br><br>

	<h2 style="color: #8C1DF3" id="ディープラーニング">ディープラーニング</h2>
	<br><p>딥 러닝은 머신 러닝의 한 방법으로, 컴퓨터의 학습 과정 동안 인공 신경망 알고리즘을 사용해 데이터에서 얻은 일반적인 규칙을 독립적으로 구축(훈련)합니다. 인공 신경망은 일반적으로 데이터에 대한 사전 정의된 결과와 같은 지도 학습을 통해 학습됩니다.<br>
	쉽게 말해 이건 개다, 이건 고양이다 라고 이름표를 붙인 아주 많은 데이터를 학습시킴<br>
	학습 후, 새로운 개의 이미지를 보여주면 개인지 고양이인지 이름표를 붙이는 형식
	<img style="max-width: 600px;" src="/static/images/index/neural.png"/><br></p>
	<br>
	<h3>데이터 기반 이미지 분류</h3>
	<p>이미지 분류는 컴퓨터 비전 분야의 주요 문제이다. 사람은 고양이를 보고 고양이라고 쉽게 분류할 수 있지만, 컴퓨터에게는 매우 어려운 문제이다. 사람은 고양이를 실체가 있는 물체로 인식하는 반면 컴퓨터에게는 0~255 사이의 숫자로 표현되기 때문이다. 이미지 분류의 문제는 이러한 사람과 컴퓨터의 사물을 보는 차이에서 온다.<br>
		<br><img style="max-width: 600px;" src="/static/images/index/deep-cat.png"/></p>
	<p>데이터 기반 방법은 수많은 이미지와 레이블 (ex. 개, 고양이 등) 이 있는 데이터셋을 통해 모델을 학습 (training) 한다. 이 때, 모델을 학습하는 것을 머신 러닝 (Machine Learning) 이라고 말한다. 이렇게 학습된 머신러닝 모델은 새로운 이미지를 인풋으로 받아 그 이미지의 레이블을 예측 (prediction or test) 한다. 즉, 이미지를 분류하는 모델을 만드는 방법 중 데이터 기반 방법을 머신러닝이라고 하며, 머신러닝 모델은 데이터셋을 통해 이미지를 학습하는 과정과 새로운 이미지를 예측하는 과정이 있다. 
	<br></p><br>
	<br>

	<h3 id="Global-in-minutes"><a href="#Global-in-minutes" class="headerlink" title="4. Global-in-minutes"></a>4. Global-in-minutes</h3>
	<p>기계학습의 이론 자체는 예전부터 있었음, 기계학습이 가능하게 된 이유 ,컴퓨팅 기술의 발전 ,하드웨어의 발전 ,또? ,-클라우드 기술이랑 aws랑 묶기<br>
	<br><img style="max-width: 600px;" src="/static/images/index/dog-cat-neural.gif"/></p>

	<br><br>
</div>

</body>
</html>