<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  콘텐츠 속성의 정보 / 값에 대한 HTTP 헤더 - chrome을 사용하는 유저에게 렌더링  -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS-Flask Index</title>
</head>
<body>
    <br>
    <h1 align="center">Hello AWS-Flask for Deep Learning</h1>
    <br>
<ul>
    <li><h2><a href="/test_get">Neural Style Transfer</a></h2></li>
    <li><h2><a href="/ocr_get">Optical Character Recognition</a></h2></li>
</ul>
</body>
<footer align="center">Powerd by <strong>© Tokio Marine Nichido Systems JV.Kim</strong></footer>
</html>