<!--user input 받는 페이지-->
<!--이미지를 Flask로 넘겨주는 페이지이므로 form 태그의 POST 방식을 수행-->
<!--neural style transfer 학습을 위한 reference 이미지 경로를 지정하여 표시-->
<!--사용자로부터 이미지 파일을 입력 받음-->
<!--확인 버튼을 통해 선택한 reference 이미지와 사용자 이미지를 전송-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css" integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm" crossorigin="anonymous"> 	<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1">
    <title>Flask Image Get</title>
</head>

<script type="text/javascript">
	function previewImage(targetObj, view_area) {
	var preview = document.getElementById(view_area); //div id
	var ua = window.navigator.userAgent;

	var files = targetObj.files;
	for ( var i = 0; i < files.length; i++) {
		var file = files[i];
		var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
		if (!file.type.match(imageType))
			continue;
		var prevImg = document.getElementById("prev_" + view_area); //이전에 미리보기가 있다면 삭제
		if (prevImg) {
			preview.removeChild(prevImg);
		}
		var img = document.createElement("img");
		img.id = "prev_" + view_area;
		img.classList.add("obj");
		img.file = file;
		img.style.width = '700px';
		img.style.height = '400px';
		preview.appendChild(img);
		if (window.FileReader) { // FireFox, Chrome, Opera 확인.
			var reader = new FileReader();
			reader.onloadend = (function(aImg) {
				return function(e) {
					aImg.src = e.target.result;
				};
			})(img);
			reader.readAsDataURL(file);
		} else { // safari is not supported FileReader
			//alert('not supported FileReader');
			if (!document.getElementById("sfr_preview_error_"
					+ view_area)) {
				var info = document.createElement("p");
				info.id = "sfr_preview_error_" + view_area;
				info.innerHTML = "not supported FileReader";
				preview.insertBefore(info, null);
			}
		}
	}
}
</script>

<body>

<style>
    .navbar{
		opacity: 0.85;
	}
	.navbar.activated{
		opacity: 1;
	}
	.nav-link{
		font-weight: bold;
	}


</style>

<!-- 상단 카테고리 -->
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">AWS-Flask</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/aws_info">AWS</a></li>
					<li class="nav-item"><a class="nav-link" href="/flask_info">Flask</a></li>
					<li class="nav-item"><a class="nav-link" href="/dl_info">Deep Learning</a></li>
					<li class="nav-item"><a class="nav-link" href="/nst_get">Neural Style Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="/tsc_get">Traffic Sign Classification</a></li>
					<li class="nav-item"><a class="nav-link" href="/tlad_get">Traffic Light Attack Detection</a></li>
					<li class="nav-item"><a class="nav-link" href="/ddd_get">Driver Drowsiness Detection</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<br>
<h1 align="center">Neural Style Transfer</h1>
<br>
<form align="center" action="/nst_post" method="POST" enctype="multipart/form-data">
    <h2 align="center" style="color: #353535;">Reference Images</h2>
    <table align="center">
        <tr>
            <td><img class="refer_img" src="./static/images/nst_get/nst_reference1.jpg"></td>
            <td><img class="refer_img" src="./static/images/nst_get/nst_reference2.jpg"></td>
            <td><img class="refer_img" src="./static/images/nst_get/nst_reference3.jpg"></td>
            <td><img class="refer_img" src="./static/images/nst_get/nst_reference4.jpg"></td>
        </tr>
        <tr>
            <td><input type="radio" name="refer_img" value="nst_reference1.jpg"></td>
            <td><input type="radio" name="refer_img" value="nst_reference2.JPG"></td>
            <td><input type="radio" name="refer_img" value="nst_reference3.jpg"></td>
            <td><input type="radio" name="refer_img" value="nst_reference4.jpg"></td>
        </tr>
    </table>
    <br><br>
    <h2 align="center">Target Image</h2>
    <div align="center" id="view_area"></div>
    <br>
    <input type="file" name="user_img" id="user_img" value="userImage" onchange="previewImage(this, 'view_area')"/>
    <input type="submit" value="確認"/>
</form>
<br><br><br>

</body>
</html>