<!--결과 출력 페이지-->
<!--Flask로 부터 넘겨 받은 결과 이미지를 받아서 출력-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css" integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm" crossorigin="anonymous"> 	<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1">
    <title>Flask Image POST</title>
</head>

<style type="text/css">
    .nst_img{
            width: 350px;
            height: 250px;
    }
    .nst_result_img{
            width: 800px;
            height: 500px;
    }
</style>


<body>
<style>
    .navbar{
		opacity: 0.85;
	}
	.navbar.activated{
		opacity: 1;
	}
	.nav-link{
		font-weight: bold;
	}


</style>

<!-- 상단 카테고리 -->
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">AWS-Flask</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/aws_info">AWS</a></li>
					<li class="nav-item"><a class="nav-link" href="/flask_info">Flask</a></li>
					<li class="nav-item"><a class="nav-link" href="/dl_info">Deep Learning</a></li>
					<li class="nav-item"><a class="nav-link" href="/nst_get">Neural Style Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="/tsc_get">Traffic Sign Classification</a></li>
					<li class="nav-item"><a class="nav-link" href="/tlad_get">Traffic Light Attack Detection</a></li>
					<li class="nav-item"><a class="nav-link" href="/ddd_get">Driver Drowsiness Detection</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>



<div class="side-page-main-div">
    <table align="center">
        <tr>
            <td><h2 align="center">Reference Image</h2></td>
            <td><h2 align="center">Target Image</h2></td>
        </tr>
        <tr align="center">
            <td><img class='nst_img' src="{{url_for('static', filename=refer_img)}}"></td>
            <td><img class="nst_img" src="{{url_for('static', filename=user_img)}}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><h2 style="color: #8C1DF3">Transfer Image</h2></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><img class="nst_result_img" src="{{url_for('static', filename=transfer_img)}}"></td>
<!--            <td colspan="2" align="center"><img class="nst_result_img" src="https://mys3dltest.s3.ap-northeast-1.amazonaws.com/aws-flask/static/images/nst_result_/nst_reference1.png" alt=""></td>-->
        </tr>
    </table>
</div>
<br>
</body>
</html>